
body {
	border: 5px solid #7a7a7a;
	
	background-color: #4c4c4c;

	margin: 25px;
/*	padding: 35px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	padding: 50px 40px;*/

	padding: 50px 40px 50px 50px;
}

/* styles for .nav block */

.nav { /* this is a  block */
	padding: 30px 0;
	border-bottom: 2px solid #7a7a7a;
	text-align: center;
}

.nav--bottomborder {
	border-bottom: none;
	border-top: 2px solid #7a7a7a;
}

.nav__link { /* this is an element of the nav block */
	font-family: helvetica;
	font-size: 18px;
	font-weight: 550;
	color: rgb(50,255,150);
	padding: 0 20px;
	border-right: 1px solid #7a7a7a;
	display: inline-block;
    line-height: 15px;
}

.nav__link--last {
	border-right: none;
}

.nav__link--active {
	color: white;
	text-decoration: none;
	font-weight: 550;
	pointer-events: none;
}

/* styles for .content-bookend */

.content-bookend {
	padding-top: 20px;
}

.content-bookend__title {
	color: white;
	font-size: 56px;
	font-style: italic;
	text-align: center;
	margin: 0;
}

.resume_title {
	color: white;
	font-family: helvetica;
	font-size: 20px;
	font-weight: 600;
}

.resume_content {
	color: white;
}

.sections {
	color: #b8b8b8;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 600;
}
