/* this is styles folder */
body {
	border: 5px solid #7a7a7a;
	
	background-color: #4c4c4c;

	margin: 25px;
/*	padding: 35px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	padding: 50px 40px;*/

	padding: 50px 40px 50px 50px;
}

/* styles for .nav block */

.nav { 
	padding: 30px 0;
	border-bottom: 2px solid #7a7a7a;
	text-align: center;
}

.nav--bottomborder {
	border-bottom: none;
	border-top: 2px solid #7a7a7a;
}

.nav__link { /* this is an element of the nav block */
	font-family: helvetica;
	font-size: 16px;
	font-weight: 600;
	color: #32D195;
	padding: 0 20px;
	border-right: 1px solid #7a7a7a;
	display: inline-block;
    line-height: 15px;
}

.nav__link--last {
	border-right: none;
}

.nav__link--active {
	color: white;
	text-decoration: none;
	font-weight: 550;
	pointer-events: none;
}

/* styles for .header */

.header {
	padding-top: 20px;
}

.header__title {
	color: white;
	font-size: 56px;
	font-style: italic;
	text-align: center;
	margin: 0;
}

/* styles for .resume */

.resume__title {
	color: white;
	font-family: helvetica;
	font-size: 20px;
	font-weight: 600;
	padding-top: 20px
}

.resume__content {
	color: white;
}

/* styles for .category */


.category {
	color: #b8b8b8;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

/* styles for .bullets__content */

.bullets__content {
	color: #b8b8b8;
	font-size: 15px;
	font-weight: 580;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bullets__content--title {
	color: white;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 600;
	font-style: bold;
}

.bullets__content--place {
	color: white;
	font-family: helvetica;
	font-size: 14px;
	font-weight: 550;
}

.bullets__content--time {
	font-family: helvetica;
	font-size: 12px;
}

.bullets__content--description {
}










